

{% extends "PgGsbFraisBundle::accueil.html.twig" %}
{% block body %}
{% block bloc1 %}
<div id="contenu">
<h2>Historique des Véhicules</h2>
<center><table style="font-size: 20px;">

            {% for uneL in Listevehicules%}
                              
                            
                     <tr><th><h2>Nom</th>
                        <th><h2>Prenom</h2></th>
                        <th><h2>Matricule</h2></th>
                        <th><h2>Marque </h2></th>
                        <th><h2>Modele</h2></th>
                        <th><h2>Couleur</h2></th>
                        <th><h2>Attribué </h2></th>
                        <th><h2>Rendu</h2></th>
                      
                        
                     </tr>
                   
                    
                  
             <tr><td><h2>{{uneL.nom}}</h2></td>
                <td><h2>{{uneL.prenom}}</h2></td>
                <td><h2>{{uneL.numImmat}}</h2></td>
                <td><h2>{{uneL.marque}}</h2></td>
                <td><h2>{{uneL.modele}}</h2></td>
                <td><h2>{{uneL.couleur}}</h2></td>
                <td><h2>{{uneL.dateD}}</h2></td>
                <td><h2>{{uneL.dateF}}</h2></td>
             </tr>
             </tr>
            
             {%endfor%}
            
</table></center>
<br /><br />
<div class="well">


</div>
            

</div>

{% endblock %}
{% endblock %}